:root{
    --var-color: #07a;
    --func-name-color: #dd4a68;
    --comment-color: #708090;
    --string-color: #690;
    --keyword-color: #bd2cbd;
    --link-color:#690;
    --templateLit-color: #3436bb;
    --err-color: #ef5350;
    --succ-color: #4caf50;
}

.variable{
    color: var(--var-color);
}

.function{
    color: var(--func-name-color)
}

.string{
    color: var(--string-color);
}

.comment{
    color: var(--comment-color);
}

.keyword{
    color: var(--keyword-color);
}

.link{
    /* text-decoration-line: underline; */
}

.templateLit{
    color: var(--templateLit-color);
}

.comment:has(.string){
    .variable, .string, .function, .keyword{
        color: inherit;
    }
}