:root{
    --var-color: #3b82f6;
    --func-name-color: #f87171;
    --comment-color: #708090;
    --string-color: #22c55e;
    --keyword-color: #bd2cbd;
    --link-color:#690;
    --templateLit-color: #3436bb;
    --err-color: #ef5350;
    --succ-color: #4caf50;
    --main-app-bg-color: #0d1117;
    --main-app-font-color: #ffffff;
    --main-app-border-color: #30363d;
    --main-button-bg-color: #3fb950;
    --main-button-hover-color: #28923a;
    --main-err-color: #d1242f;
    --grey-color: #c4c4c4;
    --second-app-bg-color: #161b22;
}

.variable, .tag{
    color: var(--var-color);
}

.function, .attr{
    color: var(--func-name-color)
}

.string{
    color: var(--string-color);
}

.comment{
    color: var(--comment-color);
}

.keyword{
    color: var(--keyword-color);
}

.link{
    /* text-decoration-line: underline; */
}

.templateLit{
    color: var(--templateLit-color);
}

.code{
    background-color: #afb8c133;
    color: black;
    padding: .2em .4em;
    border-radius: 6px;
    font-size: 85%;
}

label:has(.code){
    .code{
        font-size: 14px;
    }
}

label:is(.wrong-answer), label:is(.right-answer){
    .code{
        color: white;
        background-color: inherit;
    }
}

.comment:has(.string){
    .variable, .string, .function, .keyword{
        color: inherit;
    }
}