* {
  box-sizing: border-box;
}
@font-face {
    font-family: "Roboto Mono";
    src: 
         url("./assets/fonts/RobotoMono-Regular.ttf") format("ttf"),
  }
  @font-face {
    font-family: "Roboto";
    src: 
         url("./assets/fonts/Roboto-Regular.ttf") format("ttf");
  }
body{
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}
h1{
    margin: 8px 0;
}
code, pre{
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    margin:0;
}
.app__wrapper{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 365px;
}
.header{
    font-weight: 600;
    min-width: 100%;
    text-align: center;
    letter-spacing: .2rem;
    padding: 0 120px;
}
.nav-menu-wrapper{
    display: flex;
    justify-content: right;
    margin: 8px auto;
    max-width: 800px;
}
.nav-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 800px;
    width: 100%;
}
/* popover */
#night-mode-btn{
    anchor-name: --anchor-dark-mode;
}
.nav-btn-style{
    background: var(--code-bg-color);
    border: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 7px;
    font-weight: 600;
    color: var(--font-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
}
.nav-btn-style:hover{
    background-color: var(--bg-hover-color);
    color: var(--font-color-hoover);
}
.popover-wrapper{
    position-anchor: --anchor-dark-mode;
    inset-area: bottom span-left;
    width: calc(anchor-size(width) * 1.5);
    margin: 0;
    border: none;
    background-color: var(--code-bg-color);
    border: 1px solid var(--border-color);
    color: var(--font-color);
}
.popover-content{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
}
.popover-btn-style{
    text-align: left;
    background-color: var(--second-app-bg-color);
    color: var(--footer-button-color);
    border: none;
    padding: 10px;
    cursor: pointer;
}
.popover-btn-style:hover{
    background-color: var(--bg-hover-color);
    color: var(--font-color-hoover);
}
.question-counter{
    font-size: 24px;
    font-weight: 500;
    text-wrap: nowrap;
    opacity: 0.9;
}
.btn-style{
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: var(--btn-bg-color);
    color: #EEF1F3;
    letter-spacing: 5px;
    cursor: pointer;
}
.btn-style:hover{
    background-color: var(--btn-bg-hoover);
}
/* loader */
.loader-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50dvh;
}
.circle{
    animation: anicircle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(180deg);
}
@keyframes anicircle {
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
/* quiz content */
.main{
    min-width: 100%;
    padding: 0 120px;
}
.animate-quiz-on{
    animation-name: animateQuiz;
    animation-duration: .35s;
    animation-timing-function: linear;
}
@keyframes animateQuiz {
    0%{
        opacity: 1;
      }
      50%{
        opacity: 0.2;
      }
      100%{
        opacity: 1;
      }
}
.quiz-wrapper{
    max-width: 800px;
    margin: auto;
    font-size: 15px;
    word-break:break-word;
    line-height: 25px;
    color: var(--font-color);
}
.question{
    font-size: 18px;
    font-weight: 500;
}
.answer-input-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    margin: 5px 0;
    border-radius: 5px;
}
.answer-input-wrapper:hover{
    background-color: var(--bg-hover-color);
}
label{
    width: 100%;
    list-style: upper-alpha;
    cursor: pointer;
    padding: 10px 0;
}
.answer-style{
    height: 40px;
    margin: 0 10px;
    width: 18px;
    accent-color: var(--font-color);
}
 .question, .js-code-wrapper-style, .answer-variants, .answer{
    text-align: left;
    padding: 0.75rem 0;
 }
 .js-code-wrapper-style{
    display: flex;
    position: relative;
    background-color: var(--code-bg-color);
    padding: 0;
 }
 .copy-btn{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    border: none;
    border-radius: 4px;
    padding: 6px 8px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--code-bg-color);
 }
 svg{
    fill: var(--font-color);
 }

.copy-btn:hover{
    background-color: var(--bg-hover-color);
 }
 .popover-style{
    position: absolute;
    background-color: var(--popover-bg-color);
    color: var(--popover-color);
    border-radius: 8px;
    font-size: 12px;
    line-height: 2;
    padding: 0 8px;
    max-width: 350px;
    margin: 0;
}
 .before-wrapper{
    text-align: right;
    background-color: var(--code-count-color);
    padding: 12px;
 }
 .js-code-style{
    padding: 0.75rem;
    max-width: 700px;
    overflow: auto;
 }
 summary{
    cursor: pointer;
 }
 .answer-off{
    visibility: hidden;
 }
 [aria-disabled=true]{
    color: var(--disabled-color);
    background: var(--disabled-bg-color);
 }
 [aria-disabled=true]:hover{
    color: var(--disabled-color);
    background: var(--disabled-bg-color);
 }
 .wrong-answer, .wrong-answer:hover{
    background-color: var(--err-color);
    color: white
 }
 .right-answer, .right-answer:hover{
    background-color: var(--succ-color);
    color: white
 }
.result-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 20px;
    margin: 200px 0;
}
 .result{
    text-align: center;
    font-size: 2rem;
 }
 .result-score{
    text-align: center;
    font-size: 3rem;
 }

 /* index.html style*/
 .index-page__wrapper{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 300px;
 }
 .start-quiz-wrapper{
    display: grid;
    grid-template-areas: "a a"
                         "b c"
                         "d d";
    gap: 10px;
    place-items: center;
    place-content: stretch;
    width: 100%;
    padding: 0 120px;
    max-width: 800px !important;
 }
 .start-quiz-h1{
    text-align: center;
    grid-area: a;
 }
 .select-wrapper-q{
    grid-area: b;
 }
 .select-wrapper-l{
    grid-area: c;
 }
.start-quiz-btn-wrapper{
    grid-area: d;
    margin: 10px;
    width: 100%;
}
 .select-wrapper-q, .select-wrapper-l{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 20px;
    width: 100%;
 }
 .how-many-questions, .choose-language{
    font-size: 17px;
    background: var(--code-bg-color);
    font-size: 16px;
    padding: 8px 12px;
    font-weight: 600;
    color: var(--font-color);
    border: 1px solid var(--border-color);
 }
 option{
    text-align: left;
 }
 #start-quiz-btn{
    width: 100%;
    border-radius: 7px;
 }
 .footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: fixed;
    bottom: 0;
    padding: 30px;
 }
 .noscript-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100dvh;
}

 @media only screen and (max-width: 840px) {
    .main, .header{
        padding: 0 10px;
    }
    .start-quiz-wrapper{
        padding: 0 10px;
     }
  }
  @media only screen and (max-width: 513px) {
    .js-code-wrapper-style{
        width: calc(100vw - 20px);
        overflow: auto !important;
    }
  }

  
@view-transition {
    navigation: auto;
}


html {
    view-transition-name: fromSide;
}

@keyframes scale-in {
    from {
        translate: -100vh 0;
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes scale-out {
    to{
        translate: -100vh 0;
        opacity: 0;
        visibility: hidden;
    }
}

::view-transition-old(fromSide) {
    animation: .5s ease scale-out;
}
::view-transition-new(fromSide) {
    animation: .5s ease scale-in;
}

