* {
  box-sizing: border-box;
}

@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto")
    local("Roboto Mono"),
         url("./assets/fonts/RobotoMono-Regular.ttf") format("ttf"),
         url("./assets/fonts/Roboto-Regular.ttf") format("ttf");
  }

body{
    font-family: "Roboto", sans-serif;
    color: #3c4043;
    padding: 0;
    margin: 0;
}

h1{
    margin: 8px 0;
}

code, pre{
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    margin:0;
}

.app__wrapper{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 365px;
}

.header{
    font-weight: 600;
    grid-area: head;
    min-width: 100%;
    text-align: center;
    letter-spacing: .2rem;
    padding: 0 120px;
}

.nav-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 800px;
    width: 100%;
}

.question-counter{
    font-size: 24px;
    font-weight: 500;
    text-wrap: nowrap;
}

.btn-style{
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #3ac267;
    color: var(--main-app-font-color);
    letter-spacing: 5px;
    cursor: pointer;
}

.btn-style:hover{
    background-color: rgba(31, 136, 96, 0.897);
}

.main{
    grid-area: main;
    min-width: 100%;
    padding: 0 120px;
}

.quiz-wrapper{
    max-width: 800px;
    margin: auto;
    font-size: 15px;
    word-break:break-word;
    line-height: 25px;
    color: #3c4043;
}

.footer{
    border: 1px solid green;
    grid-area: footer;
}

.question{
    font-size: 18px;
    font-weight: 500;
}

.answer-input-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dadce0;
    margin: 5px 0;
    border-radius: 5px;
}

.answer-input-wrapper:hover{
    background-color: #E3EDF7;
}

label{
    width: 100%;
    list-style: upper-alpha;
    cursor: pointer;
    padding: 10px 0;
}



.answer-style{
    height: 40px;
    margin: 0 10px;
    width: 18px;
    accent-color: #3c4043;;
}

 .question, .js-code-wrapper-style, .answer-variants, .answer{
    text-align: left;
    padding: 0.75rem 0;
 }


 .js-code-wrapper-style{
    display: flex;
    position: relative;
    background-color: #F5F1EC;
    padding: 0;
 }

 .copy-btn{
    position: absolute;
    display: flex;
    font-family: 'Roboto';
    top: 0;
    right: 0;
    border: none;
    border-radius: 4px;
    padding: 6px 8px;
    cursor: pointer;
    text-transform: uppercase;
 }

.copy-btn:hover{
    background-color: #e7e5e3;
 }

 .popover-style{
    position: absolute;
    background-color: #001a34e5;
    color: rgba(255, 255, 255, 0.959);
    border-radius: 8px;
    font-size: 12px;
    line-height: 2;
    padding: 0 8px;
    max-width: 350px;
    margin: 0;
}

 .before-wrapper{
    text-align: right;
    background-color: #e7e5e3;
    padding: 12px;
 }

 .js-code-style{
    padding: 0.75rem;
    max-width: 700px;
    overflow: auto;
 }

 summary{
    cursor: pointer;
 }

 .answer-off{
    visibility: hidden;
 }


 [aria-disabled=true]{
    background: rgb(0 0 0 / 40%);
 }

 [aria-disabled=true]:hover{
    background: rgb(0 0 0 / 40%);
 }

 .wrong-answer, .wrong-answer:hover{
    background-color: var(--err-color);
    color: white
 }

 .right-answer, .right-answer:hover{
    background-color: var(--succ-color);
    color: white
 }

.result-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 20px;
    margin: 200px 0;
}

 .result{
    text-align: center;
    font-size: 2rem;
 }

 .result-score{
    text-align: center;
    font-size: 3rem;
 }



 @media only screen and (max-width: 840px) {
    .main, .header{
        padding: 0 10px;
    }
  }

  @media only screen and (max-width: 513px) {
    .js-code-wrapper-style{
        width: calc(100vw - 20px);
        overflow: auto !important;
    }
  }